$body-bg-color: aliceblue;
$header-bg-color:rgb(221, 255, 255);
$text-shadow: 2px 2px 8px #000000;
$box-shadow:0px 6px 20px 0px rgba(0, 0, 0, 0.19);
$visited-color: blue;
$active-color:green;
$border-color: aqua;