.container {
  background-color: aliceblue;
}

header {
  background-color: rgb(221, 255, 255);
  padding: 1rem;
  margin-block: 10px;
  border: 5px solid aqua;
  text-shadow: 2px 2px 8px #000000;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 786px) {
  header {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 5px solid rgb(194, 194, 194);
    text-shadow: 2px 2px 8px #fff;
    box-shadow: 0px 6px 20px 0px rgba(255, 255, 255, 0.19);
  }
}

.flex {
  display: flex;
}

.column {
  padding: 8px;
}
p::first-line {
  background-color: rgb(120, 121, 121);
  word-spacing: 5px;
  letter-spacing: 2px;
  /* color: white; */
}
.column:hover {
  background-color: #000000;
  color: white;
  transition: 0.4s;
  line-height: 1.5;
}

a {
  font-size: 1.5em;
}

a:visited {
  color: Blue;
}

a:hover {
  color: red;
  font-size: 1.6em;
}

a:active {
  color: green;
  font-size: 1.6em;
}

p::first-letter {
  font-size: xx-large;
}

p::selection {
  color: red;
  background: yellow;
}
